
<h1 style="text-align: center; margin-top: 2rem;">Choose a Race</h1>

<div id="RaceCarousel" class="carousel vertical slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <img class="img-card-top" [src]="createImgPath(allRaces[0])" >
        <hr style="color: red; margin: 0;">
        <div class="card-body">
            <div class="card-title" style="text-align: center;"><a routerLink="/CharacterCreator/{{allRaces[0].index}}">{{allRaces[0].name}}</a></div>
        </div>
      </div>
    </div>
    @for(race of allRaces; track $index){
      @if($index > 0) {
        <div class="carousel-item">
          <div class="card">
            <img class="img-card-top" [src]="createImgPath(race)" >
            <hr style="color: red; margin: 0;">
            <div class="card-body">
                <div class="card-title" style="text-align: center;"><a routerLink="/CharacterCreator/{{race.index}}">{{race.name}}</a></div>
            </div>
          </div>
        </div>
      }
    }
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#RaceCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
      <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#RaceCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="visually-hidden" >Next</span>
    </button>
</div>

<div class="row">
  <div class="col-4 offset-4">
    <a routerLink="/CharacterCreator"><button class="btn btn-danger">Start Fresh</button></a> 
  </div>
  
</div>

