<!-- <h1 style="text-align: center;"><u>Races</u></h1>
<div class="test">
    <div class="scrollContainer">
        <div class="center">
            @for (race of allRaces; track $index) 
            { 
                <div class="card" style="width: 15rem;">
                    <img class="img-card-top" [src]="createImgPath(race)" >
                    <div class="card-body">
                        <div class="card-title"><a routerLink="/CharacterCreator/{{race.index}}">{{race.name}}</a></div>
                    </div>
                </div>

            }
            <br>
            <a routerLink="/CharacterCreator"><button>Start Fresh</button></a> 
        </div>
    </div>
</div> -->

<div id="RacesCarousel" class="vertical carousel slide" data-bs-ride="carousel" style="width: 15rem;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card" style="width: 15rem;">
          <img class="img-card-top" [src]="createImgPath(allRaces[0])" >
          <div class="card-body">
              <div class="card-title" style="text-align: center;"><a routerLink="/CharacterCreator/{{allRaces[0].index}}">{{allRaces[0].name}}</a></div>
          </div>
        </div>
    </div>
    @for(race of allRaces; track $index) {
        <div class="carousel-item">
          <div class="card" style="width: 15rem;">
            <img class="img-card-top" [src]="createImgPath(race)" >
            <div class="card-body">
                <div class="card-title" style="text-align: center;"><a routerLink="/CharacterCreator/{{race.index}}">{{race.name}}</a></div>
            </div>
          </div>
      </div>
    }
      <a class="carousel-control-prev" data-bs-target="#RacesCarousel" type="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span style="color: red;" class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" data-bs-target="#RacesCarousel" type="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span style="color: red;" class="sr-only">Next</span>
      </a>
    </div>
  </div>
  