<div class="row top-row">

    <div class="col-3">
        <div class="row justify-content-center">
            <img [src]="getImg(eli)">
        </div>
        <div class="row text-center">
            <p>Eli Reid</p>
        </div>
    </div>

    <div class="col-3 align-self-center">
        <div class="about-text">
            <h3>About Eli:</h3>
            <p>Passionate and motivated software developer transitioning from a background in software support to a position in software development. I am particularly fond of back-end development and the set of complex and unique problems it can come with. I look forward to leveraging my proficiency with C#, SQL, Angular, Azure, and others while making meaningful contributions to the tech-space and refining (& expanding!) my own skills.</p>
        </div>
    </div>

    <div class="col-2 align-self-center">
        <ul>
            <li><a href="https://github.com/hajile7" target="_blank"><img [src]="getImg(git)" class="socials"></a></li>
            <li><a href="https://www.linkedin.com/in/elijahreid7/" target="_blank"><img [src]="getImg(linked)" class="socials square"></a></li>
            <li><a href="google.com" target="_blank"><img [src]="getImg(git)" class="socials"></a></li>
        </ul>
    </div>

    <div class="col-3">
        <div class="row text-center">
            <h1>Iconic Characters</h1>
        </div>

        <div class="row justify-content-center align-self-center">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top" style="height: 15rem; width: 15rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHPIPfw2viPxVQtFPj2-LiXFiJftPjC0gaNbzJDxnpDA&s">
                <div class="card-body">
                    <h3 class="card-title">Character Name</h3>
                    <hr>
                    <p class="card-text">Insert a ton of character stats here</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row bottom-row">

    <div class="col-3">
        <div class="row justify-content-center">
            <img [src]="getImg(dom)">
        </div>
        <div class="row text-center">
            <p>Dominic Nutaitis</p>
        </div>
    </div>

    <div class="col-3 align-self-center">
        <div class="about-text">
            <h3>About Dominic:</h3>
            <p>A Full Stack Developer with a passion for Game Development. After a seven-year journey of self-education into the programming world, I’ve taken the next step by adding a C#. NET Bootcamp to my foundational knowledge. After all this time with programming I don’t shy away from errors or bugs and eagerly embrace the next challenge to overcome.</p>
        </div>
    </div>

    <div class="col-2 align-self-center">
        <ul>
            <li><a href="https://github.com/PapaDomm" target="_blank"><img [src]="getImg(git)" class="socials"></a></li>
            <li><a href="https://www.linkedin.com/in/dominicnutaitis/" target="_blank"><img [src]="getImg(linked)" class="socials square"></a></li>
            <li><a href="google.com" target="_blank"><img [src]="getImg(git)" class="socials"></a></li>
        </ul>
    </div>

    <div class="col-3">
        <div class="row text-center">
            <h1>Iconic Characters</h1>
        </div>

        <div class="row justify-content-center align-self-center">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top" style="height: 15rem; width: 15rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHPIPfw2viPxVQtFPj2-LiXFiJftPjC0gaNbzJDxnpDA&s">
                <div class="card-body">
                    <h3 class="card-title">Character Name</h3>
                    <hr>
                    <p class="card-text">Insert a ton of character stats here</p>
                </div>
            </div>
        </div>
    </div>

</div>
