<div class="row top-row" style="justify-content: center; align-items: center;">

    <div class="col-3">
        <div class="row justify-content-center">
            <img [src]="getImg(eli)">
        </div>
        <div class="row text-center">
            <p style="margin-top: .5rem;">Eli Reid</p>
        </div>
    </div>

    <div class="col-3" style="margin-left: 5rem;">
        <div class="about-text">
            <h3>About Eli:</h3>
            <p>Passionate and motivated software developer transitioning from a background in software support to a position in software development. I am particularly fond of back-end development and the set of complex and unique problems it can come with. I am always looking to improve my development skills and make meaningful contributions to the tech space.</p>
        </div>
    </div>

    <div class="col-1">
        <ul>
            <li><a href="https://www.linkedin.com/in/elijahreid7/" target="_blank"><img [src]="getImg(linked)" class="socials square"></a></li>
            <li><a href="https://github.com/hajile7" target="_blank"><img [src]="getImg(git)" class="socials"></a></li>
        </ul>
    </div>

    <div class="col-3">
        <div class="row text-center">
            <h1>Iconic Characters</h1>
        </div>

        <div class="row justify-content-center align-self-center">
            <div id="EliCharCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card " style="width: 15rem; margin-left: auto; margin-right: auto;">
                            <img class="card-img-top" style="height: 15rem; width: 15rem; border-radius: 0;" [src]="getImg(getIconicsById(105).image.imagePath)">
                            <div class="card-body">
                                <h3 class="card-title">{{getIconicsById(105).name}}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="card" style="width: 15rem; margin-left: auto; margin-right: auto;">
                            <img class="card-img-top" style="height: 15rem; width: 15rem; border-radius: 0;" [src]="getImg(getIconicsById(106).image.imagePath)">
                            <div class="card-body">
                                <h3 class="card-title">{{getIconicsById(106).name}}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="card" style="width: 15rem; margin-left: auto; margin-right: auto;">
                            <img class="card-img-top" style="height: 15rem; width: 15rem; border-radius: 0;" [src]="getImg(getIconicsById(107).image.imagePath)">
                            <div class="card-body">
                                <h3 class="card-title">{{getIconicsById(107).name}}</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#EliCharCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#EliCharCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="visually-hidden" >Next</span>
                  </button>
            </div>

        </div>
    </div>

</div>

<div class="row bottom-row" style="justify-content: center; align-items: center;">

    <div class="col-3">
        <div class="row justify-content-center">
            <img [src]="getImg(dom)">
        </div>
        <div class="row text-center">
            <p style="margin-top: .5rem;">Dominic Nutaitis</p>
        </div>
    </div>

    <div class="col-3" style="margin-left: 5rem;">
        <div class="about-text">
            <h3>About Dominic:</h3>
            <p>A Full Stack Developer with a passion for Game Development. After a seven-year journey of self-education into the programming world, I’ve taken the next step by adding a C#. NET Bootcamp to my foundational knowledge. After all this time with programming I don’t shy away from errors or bugs and eagerly embrace the next challenge to overcome.</p>
        </div>
    </div>

    <div class="col-1">
        <ul>
            <li><a href="https://www.linkedin.com/in/dominicnutaitis/" target="_blank"><img [src]="getImg(linked)" class="socials square"></a></li>
            <li><a href="https://github.com/PapaDomm" target="_blank"><img [src]="getImg(git)" class="socials"></a></li>
        </ul>
    </div>

    <div class="col-3">
        <div class="row text-center">
            <h1>Iconic Characters</h1>
        </div>

        <div class="row justify-content-center align-self-center">
            <div id="DomCharCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card " style="width: 15rem; margin-left: auto; margin-right: auto;">
                            <img class="card-img-top" style="height: 15rem; width: 15rem; border-radius: 0;" [src]="getImg(getIconicsById(101).image.imagePath)">
                            <div class="card-body">
                                <h3 class="card-title">{{getIconicsById(101).name}}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="card" style="width: 15rem; margin-left: auto; margin-right: auto;">
                            <img class="card-img-top" style="height: 15rem; width: 15rem; border-radius: 0;" [src]="getImg(getIconicsById(102).image.imagePath)">
                            <div class="card-body">
                                <h3 class="card-title">{{getIconicsById(102).name}}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="card" style="width: 15rem; margin-left: auto; margin-right: auto;">
                            <img class="card-img-top" style="height: 15rem; width: 15rem; border-radius: 0;" [src]="getImg(getIconicsById(103).image.imagePath)">
                            <div class="card-body">
                                <h3 class="card-title">{{getIconicsById(103).name}}</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#DomCharCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#DomCharCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="visually-hidden" >Next</span>
                  </button>
            </div>

        </div>
    </div>

</div>