$containerWidth: 6rem;
$containerHeight: $containerWidth;

$internalWidth: $containerWidth*.2;
$internalHeight: $containerHeight*.2;

$transitionDuration: 0.5s;
$animationDuration: 1s;
$opacity: .75;
$color: rgba(0, 0, 0, $opacity);

@keyframes roll {
    10% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) }
    30% { transform: rotateX(120deg) rotateY(240deg) rotateZ(0deg) translateX(.5rem) translateY(.5rem) }
    50% { transform: rotateX(240deg) rotateY(480deg) rotateZ(0deg) translateX(-.5rem) translateY(-.5rem) }
    70% { transform: rotateX(360deg) rotateY(720deg) rotateZ(0deg) }
    90% { transform: rotateX(480deg) rotateY(960deg) rotateZ(0deg) }
}
.content {
  margin: auto auto;
  position: relative;
  width: $containerWidth;
  height: $containerHeight;
  perspective: 800px;
}
@for $i from 0 through 100 {
    .die-#{$i}{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform $transitionDuration ease-out;
    cursor: pointer;
    &.reset {
        transition: transform 0.1s ease-out;
        transform: rotateX(0);
    }
    &.rolling {
        animation: roll $animationDuration linear;
    }
    @for $i from 1 through 6 {
        &[data-face="#{$i}"] {
        @if($i == 1){
            transform: rotateX(0deg) translateY(-$internalHeight);
        }
        @else if($i == 2){
            transform: rotateX(180deg) translateY(-$internalHeight);
        }
        @else if($i == 3){
            transform: rotateX(-90deg);
        }
        @else if($i == 4){
            transform: rotateX(90deg) translateY(-$internalHeight);
        }
        @else if($i == 5){
            transform: rotateY(-90deg) translateY(-$internalHeight);
        }
        @else if($i == 6){
            transform: rotateY(90deg) translateY(-$internalHeight);
        }
        }
        .face.face-#{$i} {
            @if($i == 1){
                transform: translateZ($internalHeight);
            }
            @else if($i == 2){
                transform: rotateX(180deg)translateZ($internalHeight);
            }
            @else if($i == 3){
                transform: rotateX(90deg) translateZ($internalHeight);
            }
            @else if($i == 4){
                transform: rotateX(-90deg) translateZ($internalHeight);
            }
            @else if($i == 5){
                transform: rotatey(90deg) translateZ($internalHeight);
            }
            @else if($i == 6){
                transform: rotatey(-90deg) translateZ($internalHeight);
            }
        }
    }
    .face {
        $horizontalMargin: -$internalWidth;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 0 $horizontalMargin;
        border-top: $internalHeight solid $color;
        border-left: $internalWidth solid $color;
        border-right: $internalWidth solid $color;
        border-bottom: $internalHeight solid $color;
        backface-visibility: hidden;
        width: 0px;
        height: 0px;
        transform-style: preserve-3d;;
        counter-increment: steps 1;
        &:first-child {
        counter-increment: steps 1;
        }
        &:before {
        content: counter(steps);
        position: absolute;
        top: $internalHeight*.001;
        left: -$internalWidth * .45;
        color: #fff;
        text-shadow: 1px 1px 3px #000;
        font-size: $internalHeight*1.5;
        text-align: center;
        line-height: $internalHeight*.001;
        width: 100%;
        height: 100%;
        }
    }
    }
}