<div class="row text-center">
    <p style="margin-left: 50rem; cursor: pointer;" routerLink="/About">About</p><a href="https://github.com/hajile7" target="_blank"><img [src]="getImg(git)"></a><a href="https://www.linkedin.com/in/elijahreid7/" target="_blank"><img [src]="getImg(linked)" class="square"></a><p>Eli Reid's</p> <a href="https://github.com/PapaDomm" target="_blank"><img [src]="getImg(git)"></a><a href="https://www.linkedin.com/in/dominicnutaitis/" target="_blank"><img [src]="getImg(linked)" class="square"></a><p>Dominic Nutaitis'</p>
</div>
