<div class="centerFoot">
    <div style="display: inline-block; margin: 0 0 0 0px">
        <p style="display: inline-block">Eli Reid's</p> 
        <a href="https://github.com/hajile7" target="_blank" style="margin-left: 1rem;"><img [src]="getImg(git)"></a>
        <a href="https://www.linkedin.com/in/elijahreid7/" target="_blank"><img [src]="getImg(linked)" class="square"></a>
    </div>
    <p class="about" routerLink="/About"  style="margin-left: 10rem; margin-right: 10rem;">About</p>
    <div style="display: inline-block; margin: 0 0 0 0px;">
        <a href="https://www.linkedin.com/in/dominicnutaitis/" target="_blank"><img [src]="getImg(linked)" class="square"></a>
        <a href="https://github.com/PapaDomm" target="_blank" style="margin-right: 1rem"><img [src]="getImg(git)"></a>
        <p style="display: inline-block;">Dominic Nutaitis'</p>
    </div>
</div>
