a{
    width: 3rem;
    height: 3rem;
}

img{
    width: 2.3rem;
    height: 2rem;
    border-radius: 100%;
}

.square{
    border-radius: 0%;
}

img:hover{
    filter: drop-shadow(.2rem .2rem .2rem black);
}

.centerFoot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about:hover {
    color: red;
    cursor: pointer;
}