@if(!display){
    @if(!isLoggedIn()){
        <button (click)="toggleDisplay()">Login</button>
    }
    @else {
        @if(activeUser().image != undefined){
            <img [src]="createImgPath(activeUser().image.imagePath)" style="width: 10rem; height: 10rem; border-radius: 100%;"><p>{{activeUser().userName}}</p>
        }
        <button (click)="logout()">Logout</button>
    }
    
}

@else {
    <button (click)="toggleDisplay()">Close</button>
    <input type="text" class="form-control" [(ngModel)]="username">
    <input type="password" class="form-control" [(ngModel)]="password">
    <button (click)="login()">Login</button>
    <a routerLink="/Register"><button (click)="toggleDisplay()">Register User</button></a> 
}
