@if(!display){
    <button (click)="toggleDisplay()">X</button>
}

@else {
    <div>
        <nav>
            <ul style="list-style: none; margin: 0;">
                <li><button (click)="toggleDisplay()">X</button></li>
                <li><a routerLink="Home"><button>Home</button></a></li>
                <li><a routerLink="Profile/{{activeUser().userId}}"><button>Profile</button></a></li>
                <li><a routerLink="CharacterCreator"><button>Character Creator</button></a></li>
                <li><a routerLink="Rules"><button>Rules</button></a></li>
            </ul>
        </nav>
    </div> 
}
