<div class="container">

    <div class="row">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" [(ngModel)]="name">
    </div>

    <div class="row">
        <label for="race">Race</label>
        <select id="race" class="form-control" [(ngModel)]="race" (change)="changeRace()" (change)="calcSpeed()">
            @for(race of raceStats; track $index){
                <option value="{{race.index}}">{{race.name}}</option>
            }
        </select>
    </div>

    <div class="row">
        <label for="class">Class</label>
        <select id="class" class="form-control" [(ngModel)]="class" (change)="changeClass()">
            @for(class of classStats; track $index){
                <option value="{{class.index}}">{{class.name}}</option>
            }
        </select>
    </div>

    <div class="row">
        <label for="level">Level</label>
        <select id="level" class="form-control" [(ngModel)]="level" (change)="onLevel()">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>
    </div>

    <div class="row">
        <label for="alignment">Alignment</label>
        <select id="alignment" class="form-control" [(ngModel)]="alignment">
            @for(alignment of alignmentArr; track $index){
                <option value="{{alignment}}">{{alignment}}</option>
            }
        </select>
    </div>

    <div class="row">
        <ng-template ngFor let-num [ngForOf]="[].constructor(profsToChoose)" let-i="index">
            <div>
                <label for="prof{{i}}" class="margin-top: 1rem">Skill Proficiency {{i + 1}}</label>
                <select #prof$index id="prof{{i}}" style="margin-top: .2rem; margin-bottom: 1rem;" class="form-control" [(ngModel)]="newCharSkills[i]" (change)="addNewSkills(i)" >
                    @for(skills of classProfs; track $index){
                        @if(containsSkill(skills) && newCharSkills[i] != skills){
                            <option [ngValue]="skills" disabled>{{skills.name}}</option>
                        }
                        @else {
                            <option [ngValue]="skills">{{skills.name}}</option>
                        }
                    }
                </select>
            </div>
        </ng-template>
    </div>

    <br/>

    <div>
        <p>Initiative: @if(calcInitiative() > 0){+}{{calcInitiative()}}</p>
    </div>
    
    <div>
        <p>Speed: {{this.currentRace.speed}}FT</p>
    </div>

    <div>
        <p>Proficiency Bonus: +{{profBonus}}</p>
    </div>

    @if(methodType == "pointBuy" || currentLevel > 1){
        <div>
            <p>Points to Spend: {{points}}</p>
        </div>
    
        <div>
            <p>Points Spent: {{pointsSpent}}</p>
        </div>
    }

    <div>
        <p>Maximum Health: {{hp}}</p>
    </div>

    @if(currentLevel > 1){
        <hr>
        <h2 style="text-align: center;">Roll for Health</h2>
        <h3 style="text-align: center;">Rolls left: {{healthRolls}}</h3>
        @if(hitdie == 6){
            <app-d6 [dieNumber]="90" [type]="'health'" [rolls]="healthRolls" (getHealth)="addHealth($event)"></app-d6>
        }
        @else if (hitdie == 8) 
        {
            <app-d8 [dieNumber]="90" [rolls]="healthRolls" (getHealth)="addHealth($event)"></app-d8>
        }
        @else if (hitdie == 10) 
        {
            <app-d10 [dieNumber]="90" [rolls]="healthRolls" (getHealth)="addHealth($event)"></app-d10>
        }
        @else if (hitdie == 12) 
        {
            <app-d12 [dieNumber]="90" [rolls]="healthRolls" (getHealth)="addHealth($event)"></app-d12>
        }
    }


    <hr/>

    <div class="row">
        @if(true){
            <h1>Choose your method for Base Ability Scores</h1>
            <div class="row">
                <ng-template ngFor let-num [ngForOf]="[].constructor(4)" let-i="index">
                    <div class="col-3">
                        @if(methodType == methodArr[i]){
                            <button (click)="methodType = methodArr[i]"  disabled>{{methodArr[i]}}</button>
                        }
                        @else {
                            <button (click)="methodType = methodArr[i]; methodChange()">{{methodArr[i]}}</button>
                        }
                    </div>
                </ng-template>
            </div>
            @if(methodType == "pointBuy"){
                @for (abi of BaseAbilityScores; track $index) 
                {
                    <div class="col-2">
                        <p>{{abi.index}}- {{abi.value}} + {{showabi(abi)}} = {{totalAbilityScore(abi)}}</p> <button (click)="addAbilityScore(abi)">+</button> <button (click)="removeAbilityScore(abi)">-</button>
                    </div>
                }
            }

            @else if (methodType == "diceRoll") 
            {
                @for(abi of BaseAbilityScores; track $index){
                    <div class="col-2">
                        <div class="row">
                            @if(currentLevel >= 4){
                                <p>{{abi.index}}- {{abi.value}} + {{showabi(abi)}} = {{totalAbilityScore(abi)}}</p> <button (click)="addAbilityScore(abi)">+</button> <button (click)="removeAbilityScore(abi)">-</button>
                            }
                            @else {
                                <p>{{abi.index}}- {{abi.value}} + {{showabi(abi)}} = {{totalAbilityScore(abi)}}</p>
                            }                            
                        </div>
                        
                        <div class="row">
                            <app-d6 [dieNumber]="$index" [rolls]="4" (getAbi)="abiChange($event, abi)"></app-d6>
                        </div>
                    </div>
                }
            }
            @else if (methodType == "homeBrew") 
            {
                @for (abi of BaseAbilityScores; track $index) 
                {
                    <div class="col-2">
                        <div class="row">
                            @if(currentLevel >= 4){
                                <p>{{abi.index}}- {{abi.value}} + {{showabi(abi)}} = {{totalAbilityScore(abi)}}</p> <button (click)="addAbilityScore(abi)">+</button> <button (click)="removeAbilityScore(abi)">-</button>
                            }
                            @else {
                                <p>{{abi.index}}- {{abi.value}} + {{showabi(abi)}} = {{totalAbilityScore(abi)}}</p>
                            }                            
                        </div>
                        
                        <div class="row">
                            <app-die [dieNumber]="$index" (getAbi)="abiChange($event, abi)"></app-die>
                        </div>
                    </div>
                }
            }
            @else if (methodType == "standardArray"){
                <p>standard</p>
            }
        }
        
        <hr style="margin-top: 1rem;">
    </div>

    <div class="row">
        @for(st of newCharSavingThrows; track $index){
            <div class="col-2">
                <p>{{st.index}}- @if(st.value > 0){+}{{st.value}}</p>
            </div>
        }
        <hr>
    </div>

    <div class="row">
        @for (skill of BaseSkills; track $index) 
        {
            <div class="col-2">
                <p>{{skill.index}}- @if(skill.value > 0){+}{{skill.value}}</p>
            </div>
        }
        <hr style="margin-top: 1rem;">
    </div>

    <div class="row">
        <div class="col3">
            <label for="person">Personality</label>
            <textarea class="form-control" id="person" [(ngModel)]="personality"></textarea>
        </div>

        <div class="col3">
            <label for="ideals">Ideals</label>
            <textarea class="form-control" id="ideals" [(ngModel)]="ideals"></textarea>
        </div>

        <div class="col3">
            <label for="bonds">Bonds</label>
            <textarea class="form-control" id="bonds" [(ngModel)]="bonds"></textarea>
        </div>

        <div class="col3">
            <label for="flaws">Flaws</label>
            <textarea class="form-control" id="flaws" [(ngModel)]="flaws"></textarea>
        </div>
    </div>

    

    <div class="row">
        <div class="col-2">
            @if(imgUrl != undefined){
                <img [src]="imgUrl" style="border-radius: 100%; width: 10rem; height: 10rem;">
            }
        </div>

        <div class="col-2 align-self-center">
            <input type="file" (change)="onFileChanged($event)">
        </div>

        <div class="col-2 align-self-center">
            @if(isLoggedIn()){
                @if(validCharacter()) {
                <button (click)="addCharacter()">Add</button>
                }
                @else {
                   <button disabled>Add</button> 
                }
            }
        </div>
    </div>
    
    
</div>
