<div class="container">

    <div class="row">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" [(ngModel)]="name">
    </div>

    <div class="row">
        <label for="race">Race</label>
        <select id="race" class="form-control" [(ngModel)]="race" (change)="changeRace()" (change)="calcSpeed()">
            @for(race of raceStats; track $index){
                <option value="{{race.index}}">{{race.name}}</option>
            }
        </select>
    </div>

    <div class="row">
        <label for="class">Class</label>
        <select id="class" class="form-control" [(ngModel)]="class" (change)="changeClass()">
            @for(class of classStats; track $index){
                <option value="{{class.index}}">{{class.name}}</option>
            }
        </select>
    </div>

    <div class="row">
        <label for="level">Level</label>
        <select id="level" class="form-control" [(ngModel)]="level" (change)="onLevel()">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>
    </div>

    <div class="row">
        <label for="alignment">Alignment</label>
        <select id="alignment" class="form-control" [(ngModel)]="alignment">
            @for(alignment of alignmentArr; track $index){
                <option value="{{alignment}}">{{alignment}}</option>
            }
        </select>
    </div>

    <div class="row">
       @for(num of [].constructor(profsToChoose) ; track $index){
        <label for="prof{{$index}}" class="margin-top: 1rem">Skill Proficiency {{$index + 1}}</label>
        <select #prof$index id="prof{{$index}}" style="margin-top: .2rem; margin-bottom: 1rem;" class="form-control" [(ngModel)]="newCharSkills[$index]">
            @for(skills of filterChoices(classProfs, newCharSkills, profsToChoose); track $index){
                @if(containsSkill(skills) && newCharSkills[$parent.$index]){
                    <option value="{{skills.index}}">{{skills.name}}</option>
                }
                @else{
                    <option value="{{skills.index}}">{{skills.name}}</option>
                }
            }
        </select>
        <hr>
       }
    </div>

    <br/>

    <div>
        <p>Initiative: @if(calcInitiative() > 0){+}{{calcInitiative()}}</p>
    </div>
    
    <div>
        <p>Speed: {{this.currentRace.speed}}FT</p>
    </div>

    <div>
        <p>Proficiency Bonus: +{{profBonus}}</p>
    </div>

    <div>
        <p>Points to Spend: {{points}}</p>
    </div>

    <div>
        <p>Points Spent: {{pointsSpent}}</p>
    </div>

    


    <hr/>

    <div class="row">
        @for (abi of BaseAbilityScores; track $index) 
        {
            <div class="col-2">
                <p>{{abi.index}}- {{abi.value}} + {{showabi(abi)}} = {{totalAbilityScore(abi)}}</p> <button (click)="addAbilityScore(abi)" (change)="calcInitiative()">+</button> <button (click)="removeAbilityScore(abi)" (change)="calcInitiative()">-</button>
            </div>
        }
        <hr style="margin-top: 1rem;">
    </div>

    <div class="row">
        @for (skill of BaseSkills; track $index) 
        {
            <div class="col-2">
                <p>{{skill.index}}- @if(skill.value > 0){+}{{skill.value}}</p>
            </div>
        }
        <hr style="margin-top: 1rem;">
    </div>
    

    <div class="row">
        <div class="col-2">
            @if(imgUrl != undefined){
                <img [src]="imgUrl" style="border-radius: 100%; width: 10rem; height: 10rem;">
            }
        </div>

        <div class="col-2 align-self-center">
            <input type="file" (change)="onFileChanged($event)">
        </div>

        <div class="col-2 align-self-center">
            @if(isLoggedIn()){
                @if(points == 0) {
                <button (click)="addCharacter()">Add</button>
                }
                @else {
                   <button disabled>Add</button> 
                }
            }
        </div>
    </div>
    
    
</div>
