<div class="content" (click)="onClick()">
    <div class="die-{{dieNumber}}">
      <figure class="face face-1"></figure>
      <figure class="face face-2"></figure>
      <figure class="face face-3"></figure>
      <figure class="face face-4"></figure>
      <figure class="face face-5"></figure>
      <figure class="face face-6"></figure>
      <figure class="face face-7"></figure>
      <figure class="face face-8"></figure>
    </div>
  </div>
  <p style="text-align: center;">Health: {{lastFace}}</p>








