<div class="card">
    <div class="row no-gutters">
        <div class="col-md-4">
            @if(char.image != undefined){
                <img class="card-img" [src]="createImgPath(char.image.imagePath)">
            }
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="card-title"><a routerLink="/Character/{{char.characterId}}">{{char.name}}</a></div>
                <div class="card-text">Race- {{char.race}} Class- {{char.class}} Level- {{char.level}}</div>
                <button (click)="deleteCharacter()">X</button>
            </div>
        </div>
    </div>
    
</div>