<div class="card">
    <div class="row no-gutters">
        <div class="col-md-4">
            @if(char.image != undefined){
                <img class="card-img" [src]="createImgPath(char.image.imagePath)">
            }
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="card-title"><a style="font-size: 2rem;" routerLink="/Character/{{char.characterId}}">{{char.name}}</a></div>
                <div class="card-text" style="font-size: 1.25rem;">Level {{char.level}} {{char.race}} {{char.class}}</div>
                <br><br><br><br><br><br>
                <hr style="color: red;">
                <button (click)="deleteCharacter()" class="btn btn-danger">Remove Character</button>
            </div>
        </div>
    </div>
    
</div>